<!DOCTYPE html>
<html>
<head>
  <title>Plebiscito</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag "https://www.google.com/jsapi" %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if user_signed_in? %>
	  <li>
	  	<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
	  </li>
	  <%else%>
	  <li>
	  	<%= link_to "Admin", new_user_session_path %>
	  </li>
	  <li>
	  	<%= link_to "Home", root_path %>
	  </li>
  <%end%>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
