<div>
<% if @i==1 %>
	<strong><%= voter.nombre %></strong>
	<td><%= link_to 'Ver sitio de votaci贸n', place_path(voter.place_id, :votante => 'si') %></td>
<% elsif @i==2%>
	<strong><%= voter.nombre %></strong>
	<% if voter.havotado == 'no'%>
		<td>El ciudadano ya vot贸</td>
	<% else %>
		<td><%= link_to 'Votar', main_folleto_path(:id => voter.id) %></td>
	<% end %>
<% else%>
	<strong>El ciudadano </strong>
	<strong><%= voter.nombre %></strong>
	<strong> no se ecnuetra inscrito en este puesto de votaci贸n</strong>
	<td><%= link_to 'Ver sitio de votaci贸n', place_path(voter.place_id, :votante => 'si') %></td>
<% end %>
</div>
