<h1>Puestos de Votación Registrados</h1>
<%= link_to 'Nuevo Puesto', new_place_path %>
<table>
  <tr>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Ciudad</th>
    <th colspan="2"></th>
  </tr>
 
  <% @places.each do |place| %>

    <tr>
      <td><%= place.nombre %></td>
      <td><%= place.direccion %></td>
      <td><%= place.ciudad %></td>
      <td><%= link_to 'Ver', place_path(place) %></td>
      <td><%= link_to 'Editar', edit_place_path(place) %></td>  
      <td><%= link_to 'Borrar', place_path(place), method: :delete, data: { confirm: '¿Estás seguro?' } %></td>   
    </tr>
  <% end %>
</table>
