<p>
  <strong>Nombre:</strong>
  <%= @place.nombre %>
</p>
 
<p>
  <strong>Dirección:</strong>
  <%= @place.direccion %>
</p>
<p>
  <strong>Ciudad:</strong>
  <%= @place.ciudad %>
</p>
<p>
  <strong>Departamento:</strong>
  <%= @place.departamento %>
</p>
<%= link_to 'Volver', places_path %>
<%= link_to 'Editar', edit_place_path(@place) %>