<p>
  <strong>Nombre:</strong>
  <%= @place.nombre %>
</p>
 
<p>
  <strong>Dirección:</strong>
  <%= @place.direccion %>
</p>
<p>
  <strong>Ciudad:</strong>
  <%= @place.ciudad %>
</p>
<p>
  <strong>Departamento:</strong>
  <%= @place.departamento %>
</p>

<h2>Votantes</h2>
<% @place.voters.each do |voter| %>
	<% #if voter.havotado = true %>
	  <p>
	    <strong>Votante:</strong>
	    <%= voter.nombre %>
	  </p>
	 
	  <p>
	    <strong>Cedula:</strong>
	    <%= voter.cedula %>
	  </p>
	  <p>
	    <strong>Ciudad:</strong>
	    <%= voter.ciudad %>
	  </p>
	  <p>
	    <strong>Departamento:</strong>
	    <%= voter.departamento %>
	  </p>
	<% #end %>
<% end %>

<%= link_to 'Nuevo votante', new_place_voter_path(@place) %>
<%= link_to 'Volver', places_path %>
<%= link_to 'Editar', edit_place_path(@place) %>